@media (min-width: 1024px) and (max-width: 1140px) {
  .news-source {
    padding-right: 28px !important;
  }
  .widget-container {
    padding: 0px 20px 0px 25px !important;
  }
  .widget-container .news-box p {
    color: #52575a;
    line-height: 1.667;
    font-size: 15px !important;
    margin: 10px 0px 30px 0px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  .news-block {
    padding: 0px 15px !important;
  }
  .grid {
    margin: 10px -15px;
  }
  .news-box a {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .news-box p {
    font-size: 14px !important;
    margin: 15px 0px 20px 0px !important;
  }
  .news-source {
    padding-right: 25px !important;
  }
  .widget-container {
    padding: 0px 0px 0px 20px !important;
  }
  .widget-container .grid-item {
    width: 29% !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .news-block h1 {
    font-size: 22px !important;
  }
  .grid-item {
    width: 29.5% !important;
    margin: 15px 15px 10px !important;
  }
  .news-box {
    padding-right: 0px !important;
  }
  .news-box a {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .news-box span {
    font-size: 12px !important;
  }
  .news-box p {
    line-height: 20px !important;
    font-size: 13px !important;
    margin: 15px 0px 20px 0px !important;
  }
  .news-box-img img {
    margin-bottom: 20px !important;
  }
  .news-source {
    padding-right: 14px !important;
  }
  /* --------- News Widget Section CSS --------------- */
  .widget-section h1 {
    font-size: 22px !important;
  }
  .news-widget-box {
    padding: 15px;
  }
  .widget-box-left {
    width: 65% !important;
  }
  .widget-box-right {
    width: 35% !important;
  }
  .widget-box-left p {
    line-height: 22px !important;
    font-size: 13px !important;
    margin-bottom: 15px !important;
  }
  .widget-box-left h5 {
    font-size: 15px !important  ;
  }
  .widget-box-left a {
    padding: 7px 12px !important;
    font-size: 12px !important;
  }
  /* --------- News Widget CSS --------------- */

  .view-all-widget a {
    padding: 7px 12px !important;
    font-size: 12px !important;
  }
  .generate-btn {
    padding: 7px 12px !important;
    font-size: 12px !important;
  }
  .view-all-widget {
    margin-top: 0px !important;
  }
  .widget-h5 {
    font-size: 22px !important;
  }
  .news-widget-section h1 {
    font-size: 22px !important;
  }
  .news-widget-section h1 i {
    font-size: 15px !important;
  }
  .widget-config label {
    font-size: 12px !important;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    width: 15px !important;
    height: 15px !important;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    font-size: 12px !important;
    top: 5px !important;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    padding: 0px 0px 0px 20px !important;
  }
  .widget-config label {
    margin-right: 15px !important;
  }
  .widget-config {
    padding-bottom: 15px !important;
    margin-bottom: 15px !important;
  }
  .widget-config span a {
    font-size: 12px !important;
    padding: 4px 10px !important;
  }
  .iframe-div {
    font-size: 12px !important;
    padding: 10px !important;
  }
  .widget-config-box {
    padding: 20px 20px 10px !important;
    margin-bottom: 15px !important;
  }
  /* ========= Preview Section CSS ==================== */
  .widget-preview-box h5 {
    font-size: 17px !important;
  }
  .widget-preview-box-p {
    font-size: 13px !important;
    margin-bottom: 0px !important;
  }
  .preview-box-ul {
    margin: 20px 0px 20px !important;
  }
  .widget-container {
    padding: 0px 10px 0px 32px !important;
  }
  .responsive-widget {
    padding: 63px 15px 15px 15px !important;
  }
  /* .news-widget-header {
    margin: -1px -16px 15px !important;
  } */
  .widget-container .grid-item {
    width: 44.5% !important;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .news-section .p-0 {
    padding: 0px 15px !important;
  }
  .grid-item {
    width: 94%;
    margin: 10px 15px 10px;
    border-bottom: 2px solid #ececec !important;
  }
  .news-box {
    padding-right: 0px !important;
  }
  .news-box a {
    line-height: 20px !important;
    font-size: 15px !important;
    margin-bottom: 10px !important;
  }
  .news-box span {
    font-size: 12px !important;
  }
  .news-box p {
    font-size: 13px !important;
    margin: 10px 0px 15px 0px !important;
  }
  .news-box-img img {
    margin-bottom: 15px !important  ;
  }
  .news-block h1 {
    font-size: 21px !important;
  }
  .news-tabs li a {
    padding: 4px 10px !important;
    font-size: 13px !important;
  }
  .grid-item:last-child {
    border-bottom: 0px !important;
  }
  .news-source {
    padding-right: 15px !important;
  }
  .news-source label {
    font-size: 12px !important;
    margin-left: 0px !important;
  }
  .news-source .select {
    font-size: 12px !important;
    padding: 5px 5px !important;
    width: 110px !important;
  }
  .dropdown-toggle::after {
    /* margin-left: 50px !important; */
    vertical-align: 5px !important;
  }
  .news-source .dropdown-menu {
    min-width: 110px !important;
  }
  .news-source .dropdown-item {
    padding: 2px 6px !important;
    font-size: 12px !important;
  }
  .select span {
    display: inline-block;
    width: 87px;
    overflow: hidden;
  }
  /* --------- News Widget Section CSS --------------- */
  .widget-section .p-0 {
    padding: 0px 15px !important;
  }
  .widget-section h1 {
    font-size: 20px !important;
  }
  .news-widget-box {
    padding: 15px;
    margin-bottom: 15px !important;

    float: none !important;
  }
  .widget-box-left {
    width: 100% !important;
    float: none !important;
  }
  .widget-box-right {
    display: none !important;
  }
  .widget-box-left p {
    line-height: 20px !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
  }
  .widget-box-left h5 {
    font-size: 15px !important  ;
  }
  .widget-box-left a {
    padding: 6px 10px !important;
    font-size: 11px !important;
  }
  /* --------- News Widget CSS --------------- */
  .news-widget-section .p-0 {
    padding: 0px 15px !important;
  }
  .view-all-widget a {
    padding: 6px 10px !important;
    font-size: 11px !important;
  }
  .generate-btn {
    padding: 6px 10px !important;
    font-size: 11px !important;
    margin: 10px 0px 0px !important;
  }
  .view-all-widget {
    margin-top: 0px !important;
  }
  .widget-h5 {
    font-size: 20px !important;
  }
  .news-widget-section h1 {
    font-size: 20px !important;
  }
  .news-widget-section h1 i {
    font-size: 14px !important;
  }
  .widget-config .light-theme {
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .widget-config label {
    font-size: 12px !important;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    width: 15px !important;
    height: 15px !important;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    font-size: 12px !important;
    top: 5px !important;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    padding: 0px 0px 0px 20px !important;
  }
  .widget-config label {
    margin-right: 15px !important;
  }
  .widget-config {
    padding-bottom: 12px !important;
    margin-bottom: 12px !important;
  }
  .widget-config span a {
    font-size: 11px !important;
    padding: 4px 10px !important;
  }
  .widget-inputs {
    padding-left: 0px !important;
  }
  .iframe-div {
    font-size: 12px !important;
    padding: 10px !important;
    margin: 15px 0px 0px !important;
  }
  .widget-config-box {
    padding: 15px 15px 5px !important;
    margin-bottom: 15px !important;
  }
  .widget-config h5 {
    margin-bottom: 10px !important;
  }
  /* ========= Preview Section CSS ==================== */
  .widget-preview-box {
    padding: 15px !important;
    margin-bottom: 10px !important;
  }
  .widget-preview-box h5 {
    font-size: 16px !important;
  }
  .widget-preview-box-p {
    font-size: 12px !important;
    margin-bottom: 0px !important;
  }
  .widget-preview .p-0 {
    padding: 0px 15px !important;
  }
  .preview-box-ul {
    margin: 10px 0px 10px !important;
    padding: 0px 0px !important;
  }
  .widget-preview-box span {
    font-size: 12px !important;
  }
  .widget-footer-row,
  .widget-footer-row a {
    font-size: 12px !important;
  }
  .preview-box-ul li {
    margin: 6px 5px 6px 0px !important;
  }
  .widget-preview-box span i {
    font-size: 13px !important;
    margin-right: 2px !important;
  }

  .preview-box-a {
    font-size: 11px !important;
    padding: 5px 10px !important;
  }
  .widget-container {
    padding: 0px 30px 0px 30px !important;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .news-section .p-0 {
    padding: 0px 15px !important;
  }
  .grid-item {
    width: 92%;
    margin: 10px 15px 10px;
    border-bottom: 2px solid #ececec !important;
  }
  .news-box {
    padding-right: 0px !important;
  }
  .news-box a {
    line-height: 18px !important;
    font-size: 14px !important;
    margin-bottom: 5px !important;
  }
  .news-box span {
    font-size: 12px !important;
  }
  .news-box p {
    font-size: 12px !important;
    line-height: 18px;
    margin: 5px 0px 15px 0px !important;
  }
  .news-box-img img {
    margin-bottom: 15px !important  ;
  }
  .news-block h1 {
    font-size: 18px !important;
  }
  .news-tabs li a {
    padding: 3px 8px !important;
    font-size: 12px !important;
  }
  .grid-item:last-child {
    border-bottom: 0 !important;
  }
  .news-source {
    padding: 0px 15px 0px 0px !important;
  }
  .news-source label {
    font-size: 12px !important;
    margin-left: 0px !important;
  }
  .news-source .select {
    font-size: 12px !important;
    padding: 5px 5px !important;
    width: 90px !important;
  }
  .dropdown-toggle::after {
    /* margin-left: 32px !important; */
    vertical-align: 6px !important;
  }
  .news-source .dropdown-menu {
    min-width: 90px !important;
  }
  .news-source .dropdown-item {
    padding: 2px 6px !important;
    font-size: 11px !important;
  }

  .news-tabs li {
    margin-right: 5px;
  }
  .news-tabs li:last-child {
    margin-right: 0px !important;
  }
  .news-tab-list {
    padding-right: 0px !important;
  }
  .select span {
    display: inline-block;
    width: 67px;
    overflow: hidden;
  }
  /* --------- News Widget Section CSS --------------- */
  .widget-section .p-0 {
    padding: 0px 15px !important;
  }
  .widget-section h1 {
    font-size: 20px !important;
  }
  .news-widget-box {
    padding: 15px;
    margin-bottom: 15px !important;
    float: none !important;
  }
  .widget-box-left {
    width: 100% !important;
    float: none !important;
  }
  .widget-box-right {
    display: none !important;
  }
  .widget-box-left p {
    line-height: 20px !important;
    font-size: 12px !important;
    margin-bottom: 10px !important;
  }
  .widget-box-left h5 {
    font-size: 15px !important  ;
  }
  .widget-box-left a {
    padding: 6px 10px !important;
    font-size: 11px !important;
  }
  /* --------- News Widget CSS --------------- */
  .news-widget-section .p-0 {
    padding: 0px 15px !important;
  }
  .view-all-widget a {
    padding: 6px 10px !important;
    font-size: 11px !important;
  }
  .generate-btn {
    padding: 6px 10px !important;
    font-size: 11px !important;
    margin: 10px 0px 0px !important;
  }
  .view-all-widget {
    margin-top: 0px !important;
  }
  .widget-h5 {
    font-size: 18px !important;
  }
  .news-widget-section h1 {
    font-size: 18px !important;
  }
  .news-widget-section h1 i {
    font-size: 14px !important;
  }
  .widget-config .light-theme {
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .widget-config label {
    font-size: 12px !important;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    width: 15px !important;
    height: 15px !important;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    font-size: 12px !important;
    top: 5px !important;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    padding: 0px 0px 0px 20px !important;
  }
  .widget-config label {
    margin-right: 15px !important;
  }
  .widget-config {
    padding-bottom: 12px !important;
    margin-bottom: 12px !important;
  }
  .widget-config span a {
    font-size: 11px !important;
    padding: 4px 10px !important;
  }
  .widget-inputs {
    padding-left: 0px !important;
  }
  .iframe-div {
    font-size: 12px !important;
    padding: 10px !important;
    margin: 15px 0px 0px !important;
  }
  .widget-config-box {
    padding: 15px 15px 5px !important;
    margin-bottom: 15px !important;
  }
  .widget-config h5 {
    margin-bottom: 10px !important;
  }
  /* ========= Preview Section CSS ==================== */
  .widget-preview-box {
    padding: 15px !important;
    margin-bottom: 10px !important;
  }
  .widget-preview-box h5 {
    font-size: 16px !important;
  }
  .widget-preview-box-p {
    font-size: 12px !important;
    margin-bottom: 0px !important;
  }
  .widget-preview .p-0 {
    padding: 0px 15px !important;
  }
  .preview-box-ul {
    margin: 10px 0px 10px !important;
    padding: 0px 0px !important;
  }
  .widget-preview-box span {
    font-size: 12px !important;
  }
  .widget-footer-row,
  .widget-footer-row a {
    font-size: 12px !important;
  }
  .preview-box-ul li {
    margin: 6px 5px 6px 0px !important;
  }
  .widget-preview-box span i {
    font-size: 13px !important;
    margin-right: 2px !important;
  }
  .preview-box-a {
    font-size: 11px !important;
    padding: 5px 10px !important;
  }
  .widget-container {
    padding: 0px 20px 0px 15px !important;
  }
  .responsive-widget {
    padding: 58px 10px 10px 10px !important;
  }
  /* .news-widget-header {
    margin: -1px -10px 10px !important;
  } */
}
