/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid {
  margin: 15px -15px;
}
.grid-item {
  width: 30%;
  margin: 15px 15px 20px;
  float: left;
  border-bottom: 2px solid #ececec;
}
.grid-item:nth-last-child(-n + 3) {
  border-bottom: 0;
}
/* --------- News Section CSS --------------- */
.news-block h1 {
  color: #2e384d;
  font-size: 25px;
  font-weight: 500;
  padding: 5px 0px;
}
.news-tabs {
  border: none !important;
}
.news-tabs li {
  margin-right: 10px;
}
.news-tabs li a {
  color: #52575a;
  background: #f9f9fb;
  border: 1px solid #ececec !important;
  border-radius: 3px !important;
  padding: 5px 15px;
  font-size: 14px !important;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.news-tabs li a:hover,
.news-tabs .nav-item .active {
  background: #00d78a;
  color: #ffffff;
  border-color: #00d78a !important;
}
.news-box {
  padding-right: 50px;
}
.news-box a {
  color: #434468 !important;
  line-height: 1.333;
  font-size: 18px;
  font-weight: 700 !important;
  display: block;
  margin-bottom: 15px;
  text-decoration: none !important;
  transition: 0.3s ease-in-out;
}
.news-box a:hover {
  color: #00d78a !important;
}
.news-box span a {
  display: inline !important;
}
.news-box span {
  font-size: 13px;
  color: #969696;
}
.news-box span img {
  margin-right: 5px;
}
.news-box p {
  color: #52575a;
  line-height: 1.667;
  font-size: 15px !important;
  margin: 20px 0px 30px 0px;
}
.news-box-img img {
  width: 100%;
  margin: 5px 0px 35px;
  filter: drop-shadow(0px 2px 9px rgba(27, 31, 46, 0.3));
}
.news-source {
  text-align: right !important;
  padding-right: 3rem;
}
.news-source .select {
  border: 1px solid #e2e5ed !important;
  border-radius: 3px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  color: #666666 !important;
  padding: 7px 10px;
  margin-left: 5px;
  cursor: pointer;
  width: 140px !important;
  background: transparent !important;
  text-align: left;
}
.select::after {
  /* margin-left: 75px !important; */
  vertical-align: 2px !important;
}
.news-source .dropdown-item {
  padding: 2px 10px !important;
  font-size: 12px !important;
}
.news-source .dropdown-menu {
  min-width: 140px !important;
}
.news-source label {
  font-size: 13px;
  color: #666666;
  font-weight: 400;
  margin-left: 8px;
}
.select span {
  display: inline-block;
  width: 120px;
}
/* --------- End News Section CSS --------------- */

/* --------- News Widget Section CSS --------------- */
.widget-section {
  padding-bottom: 30px;
}
.widget-section h1 {
  color: #2e384d;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 0px;
}
.news-widget-box {
  padding: 20px;
  border: 1px solid #eceff2;
  float: left;
  margin-bottom: 20px;
}
.widget-box-left {
  width: 70%;
  float: left;
}
.widget-box-left h5 {
  color: #2e384d;
  font-size: 16px;
  font-weight: 700;
}
.widget-box-left p {
  line-height: 25px;
  color: #52575a;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px !important;
}
.widget-box-left a {
  color: #52575a;
  font-weight: 600;
  padding: 7px 18px;
  background: #f7f8fa;
  border: 1px solid #eceff2;
  border-radius: 3px;
  font-size: 13px;
  text-decoration: none !important;
  display: inline-block;
  margin: 0;
  transition: 0.3s ease-in-out;
}
.widget-box-left a:hover {
  background: #00d78a;
  color: #ffffff !important;
  border-color: #00d78a !important;
}
.widget-box-left a i {
  margin-right: 5px;
}
.widget-box-right {
  width: 30%;
  float: left;
  text-align: right;
}
.widget-box-right img {
  border-radius: 4px;
  filter: drop-shadow(0 0 12px rgba(46, 71, 96, 0.1));
  border: 1px solid #ebebeb;
}
/* --------- End News Widget Section CSS --------------- */
/* ---------  Widget Iframe Page CSS --------------- */
.widget-h5 {
  color: #2e384d;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 0px;
}
.view-all-widget {
  text-align: center !important;
  display: block;
  margin: 15px 0px !important;
}
.view-all-widget a {
  margin: 0 auto;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 20px;
  background: #00d78a;
  text-decoration: none !important;
  border: 1px solid #00d78a;
  margin: 0;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.view-all-widget a:hover {
  background: transparent;
  color: #00d78a !important;
  border-color: #00d78a !important;
}
.news-widget-section h1 {
  color: #2e384d;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 0px;
}
.news-widget-section h1 i {
  font-size: 17px;
  margin-left: 5px;
}
.widget-config-box {
  padding: 20px;
  border: 1px solid #eceff2;
  margin-bottom: 25px;
}
.widget-config {
  border-bottom: 1px solid #eceff2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.widget-config:last-child {
  border-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 5px;
}
.widget-config h5 {
  font-size: 15px;
  color: #2e384d;
  font-weight: 600;
  margin-bottom: 15px;
}
.widget-config .dark-theme {
  border: 1px solid #eceff2;
  display: inline-block;
  border-radius: 3px 0px 0px 3px;
  border-right: 0px !important;
}
.widget-config .light-theme {
  border: 1px solid #eceff2;
  display: inline-block;
  border-radius: 0px 3px 3px 0px;
  border-left: 0px !important;
  margin-left: -5px;
}

.theme-light-color {
  background: #f7f8fa !important;
  color: #ffffff !important;
}
.theme-dark-color {
  color: #ffffff !important;
  background: #2e4760 !important;
  border-color: #2e4760 !important;
}
.theme-dark-color a {
  color: #ffffff !important;
  background: #2e4760 !important;
}
.widget-config span a {
  text-decoration: none !important;
  font-size: 13px;
  color: #52575a;
  font-weight: 600;
  margin: 0;
  display: inline-block;
  padding: 5px 15px;
}
.widget-config span a i {
  margin-right: 5px;
}
.widget-inputs {
  display: inline-block;
  padding-left: 20px;
}
.widget-config label {
  font-size: 13px !important;
  color: #52575a !important;
  font-weight: 400 !important;
  margin-right: 30px;
}
.agree-tnc {
  color: #387fd1;
  font-weight: 500 !important;
  font-weight: 400;
  text-decoration: none !important;
}
.generate-btn {
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 20px;
  background: #00d78a;
  text-decoration: none !important;
  border: 1px solid #00d78a;
  display: inline-block;
  margin: 15px 0px 0px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.generate-btn:hover {
  background: transparent;
  color: #00d78a;
  border-color: #00d78a;
}
.iframe-div {
  font-size: 13px;
  line-height: 22px;
  color: #52575a;
  font-weight: 400;
  border: 1px solid #9bc5ff;
  padding: 15px;
  margin: 25px 0px 0px;
  box-shadow: 0 0 10px rgba(46, 71, 96, 0.1);
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  padding: 0px 0px 0px 25px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 17px;
  border: 1px solid #c6c8ca;
  background: transparent;
  border-radius: 2px;
}
[type="checkbox"]:checked + label:before {
  background: #00d78a;
  border-color: #00d78a;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 6px;
  left: 0.22em;
  font-size: 15px;
  line-height: 0.8;
  color: #fff;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #eceff2;
  background-color: #00d78a;
}
/* ---------- Widget Preview Section ------------ */
.widget-preview-box {
  padding: 20px;
  border: 1px solid #eceff2;
  margin-bottom: 15px;
}
.widget-preview-box h5 {
  font-size: 18px;
  color: #2e384d;
  font-weight: 600;
}
.widget-preview-box-p {
  font-size: 14px;
  color: #52575a;
  font-weight: 400;
}
.widget-preview-box ul {
  margin: 30px 0px 20px;
  padding: 0px !important;
}
.preview-box-ul li {
  display: inline-block;
  margin-right: 5px;
}
.preview-box-a {
  text-decoration: none !important;
  font-size: 12px;
  color: #52575a;
  font-weight: 600;
  padding: 5px 18px;
  background: #f7f8fa;
  border-radius: 3px;
  border: 1px solid #eceff2;
  transition: 0.1s ease-in-out;
}
.preview-box-a:hover {
  color: #01c194;
}
.widget-preview-box span {
  font-size: 13px;
  color: #52575a;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 15px;
}
.widget-preview-box span i {
  font-size: 16px;
  color: #d0d5db !important;
  margin-right: 5px;
}
.widget-footer-row {
  font-size: 13px;
  color: #52575a;
  margin-top: 15px;
}
.widget-footer-row a {
  font-size: 13px;
  color: #387fd1;
}
.preview-iframe {
  filter: drop-shadow(0 0 12px rgba(46, 71, 96, 0.1));
}
/* ---------  Widget Iframe Page CSS --------------- */
/*============== News Widget CSS ==============  */
.responsive-widget {
  border-radius: 8px;
  background: #f2f2f4;
  padding: 63px 15px 15px 15px !important;
  border: 1px solid #ebebeb;
}
.widget-grid {
  margin: 0px -15px !important;
}
.widget-container {
  padding: 0px 40px 0px 50px;
  background: #ffffff;
}
.news-widget-header {
  background: #2b3d53 !important;
  border-radius: 8px 8px 0px 0px;
  padding: 6px 15px;
}
.widget-container h1 {
  padding: 10px 0px 0px !important;
  margin: 0px !important;
}
.widget-header ul {
  margin: 0 !important;
  padding: 0 !important;
  float: right;
}
.widget-header ul li {
  display: inline-block;
}
.widget-container .news-box p {
  margin: 0px 0px 25px 0px !important;
}

/*============== End News Widget CSS ==============  */
